# Postgres init credentials
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Backend DB Connection
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_DIALECT=

# Redis / Valkey
REDIS_HOST=
REDIS_PORT=

# General Server Specs
PORT=5000
NODE_ENV=production
TRUST_PROXY=true
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EMAIL_VERIFICATION_SECRET=
JWT_PASSWORD_RESET_SECRET=

# Domain & SSL
ACME_EMAIL=admin@zmina.pp.ua
FRONTEND_DOMAIN=zmina.pp.ua
FRONTEND_URL=https://zmina.pp.ua
VITE_API_URL=https://zmina.pp.ua/api
BACKEND_URL=https://zmina.pp.ua

# Monobank payments
MONOBANK_API_TOKEN=

# Email verification (SMTP)
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=true
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
