{
    email {$ACME_EMAIL}
}

zmina.pp.ua {
    handle /api/* {
        reverse_proxy backend:5000
    }

    handle {
        reverse_proxy frontend:80
    }
}

stage.zmina.pp.ua {
    handle /api/* {
        reverse_proxy stage-backend:5000
    }

    handle {
        reverse_proxy stage-frontend:80
    }
}
