# SERVER
PORT=5000
D

# DB
DATABASE_DIALECT=postgres
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_NAME=
DATABASE_PORT=5432

# JWT
JWT_SECRET=f3a8b29c5e1d4780a1e3f8902c4b76da9e1208d5c482bf7913a408e2f69a1c5d
JWT_REFRESH_SECRET=7c8d9e01f2a3b4c5d6e7f8091a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9012

# api documentation
SWAGGER_PATH=0.0.0.0:5000

DATABASE_DIALECT_DEV=postgres
DATABASE_USERNAME_DEV=test
DATABASE_PASSWORD_DEV=test123
DATABASE_HOST_DEV=postgres
DATABASE_NAME_DEV=test
DATABASE_PORT_DEV=5432
