# SERVER
PORT=5000

# DB
DATABASE_DIALECT=postgres
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_NAME=
DATABASE_PORT=5432

# JWT
JWT_SECRET=
JWT_REFRESH_SECRET=

# api documentation
SWAGGER_PATH=0.0.0.0:5000

DATABASE_DIALECT_DEV=postgres
DATABASE_USERNAME_DEV=test
DATABASE_PASSWORD_DEV=test123
DATABASE_HOST_DEV=postgres
DATABASE_NAME_DEV=test
DATABASE_PORT_DEV=5432